<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>关于天使心</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                天使心心理团队位于中国的上海市区，服务于多家健康管理公司，主要立志于身心健康管理、教育行业、社区公益及老年活动等领域。

       团队成员架构以具备国家执业资质心理咨询师与临床心理学背景的专家共同组成，通过合作式的理论研究与实践，独创了临床心理学与康复理疗的完美结合，奠定了整套现代化完整心理服务系统。
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                在不断提升综合能力的同时，天使心面向社会，面向广大的心理学爱好者、商业界同仁，进行同行者招募。期盼有机会在相互协作、彼此提升的正能量氛围中，用优异的团队实力给更多需要帮助的人带去温暖。
            </p>
        </div>
         <div class="col-sm-12 col-md-6">
            <p>
                有温暖。
            </p>
        </div>
    </div>
</section>
