<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>服务</h1>
        </div>
        <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
           <img src="./web-dist/images/1.PNG" alt="天使心心理团队">
          
        </div>
         <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
           <img src="./web-dist/images/2.PNG"  alt="天使心心理团队">
          
        </div>
         <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
           <img src="./web-dist/images/3.PNG"  alt="天使心心理团队">
          
        </div>
    </div>
</section>
